export ANSIBLE_VAULT_PASSWORD_FILE=/keybase/team/vci.ops.secrets/ops-os-centos/ansible-password
watch_file $ANSIBLE_VAULT_PASSWORD_FILE

export ANSIBLE_VAULT_PASSWORD=$(cat $ANSIBLE_VAULT_PASSWORD_FILE)export CLOUDSDK_CORE_PROJECT=gcp-wordpress-255123

export CLOUDSDK_COMPUTE_ZONE=us-west2-b
export CLOUDSDK_COMPUTE_REGION=us-west2

watch_file creds-ansible.json
export GOOGLE_APPLICATION_CREDENTIALS=~/Downloads/gcp-wordpress-255123-d2a43b6f17c9.json

if [ -e .envrc.private ]; then
  watch_file .envrc.private
  source_env .envrc.private
fi

layout python