source_up

if [ -e ${GOOGLE_APPLICATION_CREDENTIALS} ]; then
    # Set gcloud project
    gcloud config set project ${CLOUDSDK_CORE_PROJECT}

    # Activate service account
    gcloud auth activate-service-account --key-file "${GOOGLE_APPLICATION_CREDENTIALS}"
fi

export TF_VAR_DB_USER=$DB_USER
export TF_VAR_DB_PASSWORD=$DB_PASSWORD